<<<<<<< HEAD
=======

>>>>>>> a2c526e74ca5cac934fa2977a4e32c32d0cc44fa
.body{
    margin: 0;
    padding: 0;
}
.seccion{
    
    height: 150px;
}

.grf{
    height: 400px;
}

.pies{
    height: 250px;
}