*{
  font-family: "montserrat", sans-serif;
}

.body {
    margin: 0;
    padding: 0;
}

#panel {
    background: rgb(38, 59, 99);
}

.modulo {
    background-color: rgb(255, 255, 255) !important;
    -webkit-box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.27) !important;
    -moz-box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.27) !important;
    box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.27) !important;
    transition: 0.4s !important;
}

.modulo:hover {
    background: rgba(214, 238, 255, 0.604) !important;
}

.grid-stack-item {
  transition: 0.15s !important;
}

.icono {
    max-height: 7em !important;
}

/* ToDo List */
/* .textb{
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  background: none;
  padding: 10px;
  outline: none;
  font-size: 18px;
}

h3{
  margin: 10px 0;
}

.task{
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  padding: 18px;
  margin: 6px 0;
  overflow: hidden;
}

.task i{
  float: right;
  margin-left: 20px;
  cursor: pointer;
} */
/* End ToDo List */


.pies {
    height: 250px;
}