.espe{
    width: 350px !important;
    background-color: rgb(250, 234, 241) !important;
    

}
.med{
    width: 350px !important;
    background-color: rgb(250, 234, 241) !important;
    
}
.alto{
    height: 500px !important;

    background-color:rgb(65, 155, 129);
}
.titulo{
    background-color:rgb(65, 155, 129);
    color: rgb(241, 241, 241) !important;
}