@import "~bootstrap/scss/bootstrap";

@import "../src/especialidadymedicos.css";


@import "../src/style.css";
@import "../src/seccionUsuario.css";

@import "../src/datosDireccion.css";


@import "../src/adm.css";



