.containerDatos {
    margin: 40px;
    padding: 20px;
    border-radius: 10px;
    background: #6cc3d5 !important;
  }
  
  .navbarUser{
    background: #6cc3d5 !important;
  }
  
  .ulUsuarios {
    background: #6cc3d5 !important;
  }
  
  .titulosUsuarios {
    margin-top: 20px;
    padding: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  
  .acordionUsuario {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }
  .btnUsuario{
      border: none !important;
      box-shadow: none !important;
  }
  .btnUsuario:hover{
      border: none !important;
      box-shadow: none !important;
      cursor: pointer;
  }

  .img1{
    width: 100px;
    height: 20px;
  }

  .img2{
    width: 120px;
    height: 20px;
  }

 
  
  .selecEsp{
    height: 300px !important;
}
.doc{
  font-weight: 600;
  font-size: larger;
}
span{
  font-weight:bold
}

.footer-copyright{
  box-sizing: border-box;
  background: #202020 !important;
  color: antiquewhite;
  width: 100% !important;
}
.contenedorFooter{
  border-top: 3px solid #202020;
  background: #202020 !important;
}