.containerDatos {
  margin: 40px;
  padding: 20px;
  border-radius: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(158, 129, 116, 1) 0%,
    rgba(220, 180, 148, 1) 0%,
    rgba(188, 154, 131, 1) 0%,
    rgba(238, 195, 157, 1) 0%,
    rgba(255, 209, 166, 1) 39%,
    rgba(244, 209, 170, 1) 100%,
    rgba(235, 209, 173, 1) 100%,
    rgba(205, 209, 183, 1) 100%,
    rgba(138, 210, 207, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.navbarUsuario {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(158, 129, 116, 1) 0%,
    rgba(220, 180, 148, 1) 0%,
    rgba(188, 154, 131, 1) 0%,
    rgba(238, 195, 157, 1) 0%,
    rgba(255, 209, 166, 1) 39%,
    rgba(244, 209, 170, 1) 100%,
    rgba(235, 209, 173, 1) 100%,
    rgba(205, 209, 183, 1) 100%,
    rgba(138, 210, 207, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.ulUsuarios {
  box-shadow: 5px 10px gainsboro;
}

.titulosUsuarios {
  margin-top: 20px;
  padding: 20px;
}

.acordionUsuario {
  box-shadow: 5px 10px gainsboro;
}
.btnUsuario {
  border: none !important;
  box-shadow: none !important;
}
.btnUsuario:hover {
  border: none !important;
  box-shadow: none !important;
}
