.tamano{
  width : 1200px ;
  height: 600px;
  margin-left: 65px;
}
.carousel-inner{
  align-items: center;
}

.uno {  background-color: bisque;
}

.card-body {
  background-color: rgb(82, 75, 72);
  opacity: 0.6;
  margin-left: 75px;
  position: absolute;
  top: 20px;
  width:600px ;
  
}
.card-body-uno {
  background-color: rgb(82, 75, 72) ;
  opacity: 0.6;
  margin-left: 75px;
  position: absolute;
  top: 450px;
  left:580px ;
  width:600px ;
  height:100px ;
}
.card-body-dos {
  background-color: rgb(82, 75, 72);
  opacity: 0.6;
  margin-left: 75px;
  position: absolute;
  top: 250px;
  left: 300px;
  width:600px ;

}

.primer {
  float: left;
}
