*{
  scroll-behavior: smooth !important;
}
body{
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
 background-color: rgba(76, 247, 156, 0.5);
}
.tamano{
  width : 100vw ;
  height: 100vh ;
  padding: 10px;
 
  background: rgba(76, 247, 156, 0.5) !important;
  box-sizing: border-box;
}
.dropdown-menu{
  background: rgb(76, 247, 156) !important;
}
.dropdown-menu .dropdown-item{
color: white;

}
.dropdown-item:hover{
  /* background: rgba(79, 260, 160, 0.5) !important; */
  color:cyan !important;
}

.tamano{
  width : 100vw ;
  height: 100vh ;
  /* height: 600px; */
  /* margin-left: 70px; */
}
.carousel-item{
  display: flex;
}
@media all and (max-width: 768px){
.tarjUno{
  display:none;
}

  

}

/*INICIO SERVICIOS*/
.tarjeta{
  display: flex;
  flex-flow: row nowrap;
  margin: 20px 30px;
  height: auto;
  padding: 10px;
  align-items: center;
  border: 0.5px solid gainsboro;
  border-radius: 15px;
}
.cuerpoImagen{
  flex: 1 1 auto;
  justify-content: center;
  margin: auto;
  
}
  .cuerpoImagen img{
      padding: 25px;        
  }
.cuerpoTexto{
  flex: 4 1 auto;
  padding: 20px;
  padding-top: 0%;
}
.imagenCard {
  border-radius: 50%;
}
  
.tarjeta:hover{
  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
@media all and (max-width: 800px){
  .tarjeta{
      flex-direction: column;
      height: auto;
  }
  .tarjetaDos{
      flex-direction: column-reverse;
  }
}


/*FIN SERVICIOS*/



.row2 img {
    width: 36px;
    height: 36px;
}

.footer {
   
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100vw;
    background: #202020 !important;
    color: antiquewhite;
}

.copyright {
    color: #202020 !important;
}

.footer-copyright text-center py-3 {
    background: #101010 !important;
}

/* .tamano{
  width : 100vw ;
  height: 600px;
  margin-left: 65px;

} */
.carousel-inner{
  align-items: center;
}

.uno {  background-color:white;
}

.tarjUno {
  background-color: rgb(82, 75, 72);
  opacity: 0.8;
  margin-left: 15px;
  position: absolute;
  top: 30px;
  width:600px ;

}

.tarjDos {
  margin-left: 75px;
  position: absolute;
  top: 30px;
  width:600px ;
}

.tarjDos {

  /* transform-origin: 50% 50%; */

    /* transition-property: transform;
    transition-timing-function: linear;
    transform: perspective(2000px) translateX(0px) translateY(-26.4348px) translateZ(0px) rotate(0deg) skewX(0deg) skewY(0deg) scaleX(1) scaleY(1);
    display: none;
    visibility: hidden; */
  background-color: rgb(82, 75, 72) ;
  opacity: 0.6;
  margin-left: 75px;
  position: absolute;
  top: 450px;
  left:650px ;
  width:600px ;
  height:100px ;
}


.tarjTres {

  background-color: rgb(82, 75, 72);
  opacity: 0.6;
  margin-left: 75px;
  position: absolute;
  top: 250px;
  left: 300px;
  width:600px ;
  padding: 15px;

}

.primer {
  float: left;

}


.segundoNav{
  text-align: center !important;
}



.navIcon{
  background: rgba(76, 247, 156, 0.5) !important;
}
.navIcon1{
  background:rgba(76, 247, 156, 0.5) !important;
}

.colorText{
  color: #516fca  !important;
  background: #36e186  !important;
}

.colorText1{
  color:#516fca  !important;
  background: #36e186 !important;
}

.nav-link{
  color: white !important;
}

.navIcon{
  background: rgba(76, 247, 156, 0.5) !important;
}
.navIcon1{
  background:rgba(76, 247, 156, 0.5) !important;
}

.colorText{
  color: #516fca  !important;
  background: #36e186  !important;
}

.colorText1{
  color:#516fca  !important;
  background: #36e186 !important;
}

.nav-link{
  color: white !important;
}

