*{
  scroll-behavior: smooth !important;
  margin: 0px;
  padding: 0px;
}
body{
  overflow-x: hidden;
  
 background-color: rgba(76, 247, 156, 0.5) !important;
}
.tamano{
  width : 100vw ;
  height: 100vh ;
  padding: 10px;
 
  background: rgba(76, 247, 156, 0.5) !important;
  box-sizing: border-box;
}
.dropdown-menu{
  background: rgb(76, 247, 156) !important;
}
.dropdown-menu .dropdown-item{
color: white;

}
.dropdown-item:hover{
  /* background: rgba(79, 260, 160, 0.5) !important; */
  color:cyan !important;
}

.carousel-inner
{
  height: 500px;
}
.tamano{
  width : 100vw !important ;
  height: 100vh;
  
}
.carousel-item{
  display: flex;
}
@media all and (max-width: 768px){
.tarjUno{
  display:none;
}

  

}


/*INICIO SERVICIOS*/
.container{
  margin: 0px 0px !important;
  margin-top: 10px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  background-color: #282828;

  margin: initial;
  padding-bottom: 0px;
}
.imagen{
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  }
.imagen img{
  width: 100%;
  margin: -2px;
}
.imagen:hover {filter: opacity(.5);
transition: .9s;}
.texto{
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}
.prevencion{
  color:#D18C54;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-style: inherit;
  letter-spacing: 1.5px;
  margin: 15px 50px 17px;

}
h2{
  line-height: 40px;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: -0.5px;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 50px 10px;
  color: white !important;


}
.lorem{
  font-size: 20px;
  font-style: initial;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1.5px;
  margin: 25px 50px 17px;
  color: white !important;

}
#informa{
  color: yellow;
  margin: 5px 0px 0px;
  text-decoration: none;
  
}
@media (max-width: 1060px) {
  .imagen{
      display: none;
}
  .texto{
      margin: auto;
      width: 100%;
  }
}

/*FIN SERVICIOS*/



.row2 img {
    width: 36px;
    height: 36px;
}

.footer {
   
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100vw;
    background: #202020 !important;
    color: antiquewhite;
}


.copyright {
    color: #101010 !important;
}

.footer-copyright{
  
  background: #202020 !important;
    color: antiquewhite;
    
}


.carousel-inner{
  align-items: center;
}

.uno {  background-color:white;
}

.tarjUno {
  background-color: rgb(82, 75, 72);
  opacity: 0.8;
  margin-left: 15px;
  position: absolute;
  top: 30px;
  width:600px ;

}

.tarjDos {
  margin-left: 75px;
  position: absolute;
  top: 30px;
  width:600px ;
}

.tarjDos {

  /* transform-origin: 50% 50%; */

    /* transition-property: transform;
    transition-timing-function: linear;
    transform: perspective(2000px) translateX(0px) translateY(-26.4348px) translateZ(0px) rotate(0deg) skewX(0deg) skewY(0deg) scaleX(1) scaleY(1);
    display: none;
    visibility: hidden; */
  background-color: rgb(82, 75, 72) ;
  opacity: 0.6;
  margin-left: 75px;
  position: absolute;
  top: 450px;
  left:650px ;
  width:600px ;
  height:100px ;
}


.tarjTres {

  background-color: rgb(82, 75, 72);
  opacity: 0.6;
  margin-left: 75px;
  position: absolute;
  top: 250px;
  left: 300px;
  width:600px ;
  padding: 15px;

}

.primer {
  float: left;

}


.segundoNav{
  text-align: center !important;
}



.navIcon{
  background: rgba(76, 247, 156, 0.5) !important;
}
n.navIcon1{
  background:rgba(76, 247, 156, 0.5) !important;
}

.colorText{
  color: #516fca  !important;
  background: #36e186  !important;
}

.colorText1{
  color:#516fca  !important;
  background: #36e186 !important;
}

.nav-link{
  color: white !important;
}

.navIcon{
  background: rgba(76, 247, 156, 0.5) !important;
}
.navIcon1{
  background:rgba(76, 247, 156, 0.5) !important;
}

.colorText{
  color: #516fca  !important;
  background: #36e186  !important;
}

.colorText1{
  color:#516fca  !important;
  background: #36e186 !important;
}

.nav-link{
  color: white !important;
}



